# Python specific patterns to ignore

# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# IDE files
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db
